@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
    background-image: linear-gradient(rgba(65, 63, 63, 0.692), transparent),
        url("./wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    width: 99%;
    height: 500px;
    background-repeat: no-repeat;
    background-blend-mode: darken, luminosity;
    font-family: "Muli", sans-serif;
}

button {
    background-color: rgb(59, 76, 44);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #ffe8d6;
    transition: all ease-in-out 0.3s;
}
button:hover {
    background: rgb(125, 155, 99);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 20%;
    border: 3px #ffe8d6 solid;
    height: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffe8d6;
    font-size: 19px;
}

a {
    text-decoration: none;
    width: 30%;
}
a .card {
    width: 90%;
}
/* finished*/